.button {
  all: unset;
  border-radius: 4px;
  padding-block: 8px;
  cursor: pointer;
  width: 100%;
  text-align: center;

  .button-label {
    display: block;
    padding-block: 2px;
  }

  &:disabled {
    background-color: var(--color-light-gray-800);
    cursor: default;
  }
}

.secondary-button {
  @extend .button;
  border: 1px solid var(--color-black);
}

.primary-button {
  @extend .button;
  background-color: var(--color-orange);
  color: var(--color-white);
  &:disabled {
    color: var(--color-black);
  }
}
