.button {
  all: unset;
  border-radius: 4px;
  border: 1px solid $black;
  padding-block: 8px;
  cursor: pointer;
  width: 100%;
  text-align: center;

  .button-label {
    display: block;
    padding-block: 2px;
  }

  &:disabled {
    background-color: rgba($light-gray, 0.8);
    cursor: default;
  }
}

.button-secondary {
  @extend .button;
}

.button-primary {
  @extend .button;
  background-color: $blue;
  border: unset;
  color: $white;
  &:disabled {
    color: $black;
  }
}
