$base-width: 1000px;

.auth-container {
  display: flex;
  height: 100vh;
  background-color: var(--color-white);

  .side-panel {
    display: flex;
    flex: 1;
    background-color: var(--color-orange);
  }

  .center {
    justify-content: center;
    align-items: center;
  }

  .info-panel {
    @media (max-width: $base-width) {
      display: none;
    }

    @extend .side-panel;
    @extend .center;

    flex-direction: column;
    text-align: center;
    border-top-right-radius: 10%;
  }

  .form-panel {
    @extend .side-panel;

    .centered-content {
      display: flex;
      flex: 1;
      @extend .center;
      @media (max-width: $base-width) {
        border-bottom-left-radius: unset;
      }

      background-color: var(--color-white);
      border-bottom-left-radius: 10%;

      .form {
        border-radius: 16px;
        box-shadow: 0 0 20px var(--color-light-gray);
        padding: 48px;
        width: 100%;
        max-width: 500px;

        .input-group {
          margin-block: 32px;

          .input-row {
            display: flex;
            gap: 20px;

            .half-width-input {
              width: 50%;
            }
          }
        }

        .linkable-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 12px;

          .linkable-label {
            margin-right: 4px;
          }

          .linkable-text {
            text-decoration: unset;
            color: var(--color-orange);
          }
        }
      }
    }
  }
}
