.screen-wrapper {
  display: flex;
  height: 100vh;
  background-color: $white;

  .side {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .left-side {
    @extend .side;
    background-color: $dim-smoke;
  }

  .right-side {
    @extend .side;
    background-color: $white;
    .form {
      border-radius: 16px;
      box-shadow: 0 0 20px $light-gray;
      padding: 48px;
      width: 100%;
      max-width: 500px;

      .input-form {
        margin-block: 32px;
      }
      .linkable-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        .registration-label {
          margin-right: 4px;
        }
      }
    }
  }
}
