.message-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .message-item {
    padding: 8px;
    border-bottom: 0.5px solid var(--color-black);
    display: flex;
    align-items: center;

    width: 100%;
  }
}
